<!DOCTYPE html>
<html lang="eng">

    <head>
        <title>Mongo Scraper</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.css" integrity="sha256-F57nvcuc/M42/hIkW4XQboIGmLlKxXpKN3oHLFY+v9M=" crossorigin="anonymous" />
        <link rel="stylesheet" href="../../public/assets/css/style.css">
    </head>

    <body>
        {{{ body }}}
    </body>
    
</html>